.folder {
 background-color: rgb(233,233,233);
 display: flex;
 width: 330px;
 padding: 3px;
 margin-top: 5px;
 justify-content: space-between;
} 

.file {
  background-color: white;
}

.container {
  margin-top: 5px;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 1rem
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}